body
{
    margin: 0;
    background-color: 0C0B0D;
}

/* #project_heading
{
    text-align: center;
    font-family: 'Fasthand', cursive;
    font-size: 100px;
    color:white;
    z-index:-100;
    top:10%;
    left:2%;
    position: absolute;
	display:block;
}

#renderer {

} */

/* canvas
{
    height: 100;
    width: 100;
} */